*{
  color: #363062;
  font-family: "Red Hat Mono", monospace;
}


body{
    background-color: #363062;
}
h2{
    background-color: #F5E8C7;
    font-weight: 400; 
    color: #363062;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: -15px;
    gap: 20px;
}

.menu{
    font-size: 17px;
    text-decoration: none;
    background-color: #F5E8C7;
    border: none;
    text-align: center;
    align-items: center;
    color: #363062;
}

.menu button{
    width: 100px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    background-color: #F5E8C7; 
    border: none;
    color: #363062;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.7s ease-in-out;
}

.menu button:hover {
    background-color: #363062; 
    color: #F5E8C7;
    width: 125px;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-name: fadetext;
    animation-duration: 0.5s;
}

@keyframes fade{
  from {
    background-color: #F5E8C7;
  }
  to {
    background-color: #363062;
  }
}

@keyframes fade{
  from {
    color: #363062;
  }
  to {
    color: #F5E8C7;
  }
}


.row {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
  }
  

  .notes {
    flex: 40%;
    margin: 10px;
    text-align: center;
    background:
    repeating-linear-gradient(
      0deg,
      #F5E8C7,
      #F5E8C7 25px,
      #c6ba9a 1px,
      #c6ba9a 26px
    ); 
    min-height: 500px;
    max-height: max-content;
    border-radius: 5px; 
    text-align: left;
    padding: 10px;
    align-items: center;
    position: relative;
  }
  .create_notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px; 
    text-align: left;
    padding: 10px;
  }
  .create_notes image{
    width: 10px;
    height: 10px;
  }
  .create_notes button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin-top: -15px;
    text-align: center;
    text-decoration: none;
    background-color: #F5E8C7; 
    border: #c6ba9a;
    color: #363062;
    outline: #c6ba9a solid 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.2s ease-in-out;
  }
  
  .create_notes button:hover {
      background-color: #363062; 
      color: #F5E8C7;
      width: 125px;
      animation-name: fade;
      animation-duration: 0.5s;
      animation-name: fadetext;
      animation-duration: 0.5s;
  }

  .notes-container {
    width: 100%;
    text-align: center;
    max-width: 100%;
    max-height: fit-content;
    align-items: center;
    position: relative;
  }

  .conspect {
    flex: 60%;
    margin: 10px;
    height: 500px;
    text-align: center;
    background-color: #F5E8C7; 
    border-radius: 5px; 
    text-align: left;
    padding: 10px;
  }

  .note-wrapper {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    background-color: #f2e7cc;
  }

  .input-box{
    flex: 1;
    text-align: left;
    position: relative;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 100px;
    max-height: 500px;
    background-color: #f2e7cc;
    outline:#c6ba9a dashed 2.5px;
    border-radius: 5px;
    resize: none;
  }

    .deleteBtn {
      width: 25px;
      height: auto;
      margin-left: 10px;
      bottom: 5px;
      right: 10px;
      opacity: 0.5;
      position: absolute;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
      animation-name: opacity;
    }

    @keyframes opacity {
      from {
        opacity: 0.5;
      }
      to {
        opacity: 1;
      }
    }

    .deleteBtn:hover {
      opacity: 1;
    }

    .importFile{
      margin-top: 15px;
      margin-bottom: 5px;
      background-image: url(C:/Users/PC/Desktop/practica/StudyHub/img/addImg.png);
      background-size: cover; 
      border: none;
      background-color: #ffffff00;
      width: 210px;
      height: 289px;
    }

    .importFile:hover{
        background-color: #faeccf1a;
        background-blend-mode: soft-light;
    }

    .addfile{
      opacity: 0;
      cursor: pointer;
    }

    .importBtn{
    width: 100px;
    height: 25px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #363062; 
    border: none;
    color: #F5E8C7;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s ease-in-out;
    }

    .importBtn:hover {
      width: 120px;
    }
