body{
    background-color: #363062;

}

.center{
        margin: 15%;
        text-align: center;
}

h1{
    color: #F5E8C7;
    font-size: 80px ;
    margin-bottom: -15px;
}
h3{
    color: #818FB4;
    margin-bottom: -15px;
}

button{
    width: 50px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    background-color: #F5E8C7; 
    border: none;
    color: #363062;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: #F5E8C7; 
    color: #363062; 
    border: none;
    ;
}

form[type=button]{
    text-decoration: none;
    text-align: center;
    outline: none;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: #F5E8C7;
    border: none;
    color:#232a52;
    cursor: pointer;
  }

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    text-align: center;
}
