body{
    background-color: #363062;
}
h2{
    background-color: #F5E8C7; 
    color: #363062;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: -15px;
    gap: 20px;
}

.menu{
    font-size: 17px;
    text-decoration: none;
    background-color: #F5E8C7;
    border: none;
    text-align: center;
    align-items: center;
    color: #363062;
}

button{
    width: 100px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    background-color: #F5E8C7; 
    border: none;
    color: #363062;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.7s ease-in-out;
}

button:hover {
    background-color: #ead5a0; 
    width: 125px;
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade{
  from {
    background-color: #F5E8C7;
  }
  to {
    background-color: #ead5a0;
  }
}

.row {
    display: flex;
  }
  

  .notes {
    flex: 40%;
    margin: 10px;
    text-align: center;
    background-color: #F5E8C7; 
    border-radius: 5px; 
    text-align: left;
    padding: 10px;
  }

  .conspect {
    flex: 60%;
    margin: 10px;
    text-align: center;
    background-color: #F5E8C7; 
    border-radius: 5px; 
    text-align: left;
    padding: 10px;
  }
